---
title: test carto
authors: 
  - user2
date: '2019-04-19'
slug: test-carto
categories:
  - R
tags:
  - Deep Learning
image:
  caption: ''
  focal_point: ''
---



<pre class="r"><code>library(cartography)
library(sf)</code></pre>
<pre><code>## Linking to GEOS 3.5.1, GDAL 2.2.3, PROJ 4.9.3</code></pre>
<pre class="r"><code>mtq &lt;- st_read(system.file(&quot;gpkg/mtq.gpkg&quot;, package=&quot;cartography&quot;))</code></pre>
<pre><code>## Reading layer `mtq&#39; from data source `/home/tim/Documents/lib/R/library/cartography/gpkg/mtq.gpkg&#39; using driver `GPKG&#39;
## Simple feature collection with 34 features and 7 fields
## geometry type:  MULTIPOLYGON
## dimension:      XY
## bbox:           xmin: 690574 ymin: 1592536 xmax: 735940.2 ymax: 1645660
## epsg (SRID):    32620
## proj4string:    +proj=utm +zone=20 +datum=WGS84 +units=m +no_defs</code></pre>
<pre class="r"><code># Population density
mtq$POPDENS &lt;- 1e6 * mtq$POP / st_area(x = mtq)

# Default
choroLayer(x = mtq, var = &quot;POPDENS&quot;)</code></pre>
<p><img src="/cist/post/2019-04-19-test-carto_files/figure-html/unnamed-chunk-1-1.png" width="672" /></p>
<pre class="r"><code># With parameters 
choroLayer(x = mtq, var = &quot;POPDENS&quot;,
           method = &quot;quantile&quot;, nclass = 5,
           col = carto.pal(pal1 = &quot;sand.pal&quot;, n1 = 5),
           border = &quot;grey40&quot;,
           legend.pos = &quot;topright&quot;, legend.values.rnd = 0,
           legend.title.txt = &quot;Population Density\n(people per km2)&quot;)

# Layout
layoutLayer(title = &quot;Population Distribution in Martinique, 2015&quot;)</code></pre>
<p><img src="/cist/post/2019-04-19-test-carto_files/figure-html/unnamed-chunk-1-2.png" width="672" /></p>
